[submodule "discourse-theme"]
	path = discourse-theme
	url = https://github.com/bmc-core/discourse-theme.git
[submodule "discourse_docker"]
	path = discourse_docker
	url = https://github.com/bmc-core/discourse_docker.git
[submodule "components/discourse-tc-character-count"]
	path = components/discourse-tc-character-count
	url = https://github.com/bmc-core/discourse-tc-character-count.git
[submodule "components/discourse-new-topic-button-theme-component"]
	path = components/discourse-new-topic-button-theme-component
	url = https://github.com/bmc-core/discourse-new-topic-button-theme-component.git
[submodule "components/discourse-gifs"]
	path = components/discourse-gifs
	url = https://github.com/bmc-core/discourse-gifs.git
[submodule "components/discourse-right-sidebar-blocks"]
	path = components/discourse-right-sidebar-blocks
	url = https://github.com/bmc-core/discourse-right-sidebar-blocks.git
[submodule "components/discourse-icon-header-links"]
	path = components/discourse-icon-header-links
	url = https://github.com/bmc-core/discourse-icon-header-links.git
[submodule "components/discourse-header-search-component"]
	path = components/discourse-header-search-component
	url = https://github.com/bmc-core/discourse-header-search-component.git
[submodule "components/discourse-breadcrumb-links"]
	path = components/discourse-breadcrumb-links
	url = https://github.com/bmc-core/discourse-breadcrumb-links.git
[submodule "plugins/discourse-gamification"]
	path = plugins/discourse-gamification
	url = https://github.com/bmc-core/discourse-gamification.git
