[submodule "discourse-theme"]
	path = discourse-theme
	url = https://github.com/bmc-core/discourse-theme.git
[submodule "discourse_docker"]
	path = discourse_docker
	url = https://github.com/bmc-core/discourse_docker.git
